# 特征工程主要将明显提升模型的效果与训练时间，通常包括以下内容：

## 1.缺失值处理；（部分模型可自动填充）

## 2.异常值剔除；（通常需根据结果反馈与业务理解进行多次尝试迭代）

## 3.数据格式转化；（分类变量转化，时间格式转化，连续变量离散化等）

## 4.特征衍生；（交叉组合/派生/降维等等）

## 5.特征筛选（过滤法/包装法/嵌入法）





## 备注：

对于LR模型，变量分箱与筛选是重要步骤（如常用的WOE分箱，IV筛选等），恰当的操作会提升模型的泛化性能与可解释性；

对于树模型，分箱与筛选非必需步骤；

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np
import re
import datetime
from sklearn.preprocessing import PolynomialFeatures

In [2]:
def features_dict(df,columns):   #离散变量转化映射表，df为数据表，columns为目标列
    features_dict = {}
    i = 1
    list_mid = list(set(df[columns].to_list()))
    list_mid.sort()
    for each in list_mid:
        features_dict[each] = i
        i = i+1
    return features_dict

def features_trans(columns_values,features_dict):  #离散特征转化，columns_values为目标列，features_dict为特征映射表
    return features_dict[columns_values]

In [3]:
#数据读取
df_train = pd.read_csv(r"C:\Users\17738\贷款违约率预测\数据集\train.csv")
df_test = pd.read_csv(r"C:\Users\17738\贷款违约率预测\数据集\testA.csv")

## 缺失值处理

### 缺失值这里的整体思路如下：
    1.常规情况下，宁缺毋滥，如果缺失值数据量较少，相比于探索其缺失规律，直接剔除是一个更直接快速的方法；
        （1）确认缺失数据的比例；
        （2）确认缺失数据是否随机分布；
        （3）当缺失数据符合以上两点条件时，可以优先考虑剔除缺失值；
    2.当缺失值过多或缺失数据的比例分布与整体不一致时，直接的剔除可能会影响模型的泛化能力，优先考虑填充缺失值（统计方式填充/模型预测）

In [4]:
# 缺失值比例判断
df_train.isnull().sum().sort_values()

id                        0
totalAcc                  0
earliesCreditLine         0
revolBal                  0
pubRec                    0
openAcc                   0
ficoRangeHigh             0
ficoRangeLow              0
delinquency_2years        0
regionCode                0
initialListStatus         0
isDefault                 0
purpose                   0
verificationStatus        0
annualIncome              0
homeOwnership             0
policyCode                0
subGrade                  0
grade                     0
installment               0
interestRate              0
term                      0
loanAmnt                  0
issueDate                 0
applicationType           0
postCode                  1
employmentTitle           1
title                     1
dti                     239
pubRecBankruptcies      405
revolUtil               531
n10                   33239
n4                    33239
n13                   40270
n12                   40270
n9                    40270
n7                    40270
n6                    40270
n3                    40270
n2                    40270
n1                    40270
n0                    40270
n5                    40270
n14                   40270
n8                    40271
employmentLength      46799
n11                   69752
dtype: int64

In [5]:
#剔除全部列缺失值后的数据大小
df_train.dropna().shape[0]

686195

In [6]:
#缺失数据随机分布（缺失数据比例是否与训练集标签比例类似，在数据探索阶段以计算正负样本比例为1：4）
df_miss = pd.DataFrame(df_train.isnull().sum()).copy()
df_miss.rename(columns = {0:"缺失值"},inplace = True)
df_miss_columns = df_miss[df_miss["缺失值"]>0].index.to_list()  #少量的缺失值比例不具备参考性

for each in df_miss_columns:
    df_mid = df_train[df_train[each].isnull() == True].copy()
    miss_all_count = df_mid.shape[0]
    miss_y0_count = df_mid[df_mid["isDefault"].isnull() == 0].shape[0]
    miss_y1_count = df_mid[df_mid["isDefault"].isnull() == 1].shape[0]
    
    if miss_y1_count==0:
        print("缺失值正负比例探索",each,miss_y0_count,miss_y1_count)
    else:
        print("缺失值正负比例探索",each,miss_y0_count/miss_y1_count,miss_y0_count,miss_y1_count)

缺失值正负比例探索 employmentTitle 1 0
缺失值正负比例探索 employmentLength 46799 0
缺失值正负比例探索 postCode 1 0
缺失值正负比例探索 dti 239 0
缺失值正负比例探索 pubRecBankruptcies 405 0
缺失值正负比例探索 revolUtil 531 0
缺失值正负比例探索 title 1 0
缺失值正负比例探索 n0 40270 0
缺失值正负比例探索 n1 40270 0
缺失值正负比例探索 n2 40270 0
缺失值正负比例探索 n3 40270 0
缺失值正负比例探索 n4 33239 0
缺失值正负比例探索 n5 40270 0
缺失值正负比例探索 n6 40270 0
缺失值正负比例探索 n7 40270 0
缺失值正负比例探索 n8 40271 0
缺失值正负比例探索 n9 40270 0
缺失值正负比例探索 n10 33239 0
缺失值正负比例探索 n11 69752 0
缺失值正负比例探索 n12 40270 0
缺失值正负比例探索 n13 40270 0
缺失值正负比例探索 n14 40270 0

从输出结果来看，缺失值都为正样本，依据业务经验初步定位此情况是具有某种明显规律的缺失（比如特地某类特定用户的某项特征无法获取），下面进行两方面的探索：

1.缺失数据是否多列是同时出现的(用于评估缺失值填充影响的数据量，用于推测缺失数据的缺失特征)

2.测试集缺失数据的比例是否与训练集相近；（佐证）

In [7]:
#判断缺失值是否同增通减
df_miss_columns_fig = df_miss_columns.copy()
df_miss_columns_fig.append("features")
df_mid2 = pd.DataFrame(columns = [df_miss_columns_fig])
    
for each in df_miss_columns:
    df_mid = df_train[df_train[each].isnull() == True][df_miss_columns].copy()
    
    mid = df_mid.isnull().sum().to_list()
    mid.append(df_mid.shape[0])
    
    df_mid2.loc[df_mid2.shape[0]] = mid
df_mid2

,employmentTitle,employmentLength,postCode,dti,pubRecBankruptcies,revolUtil,title,n0,n1,n2,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,features
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,46799,0,227,0,32,0,1209,1209,1209,...,1209,1209,1209,1209,965,3206,1209,1209,1209,46799
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,227,0,239,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,239
4,0,0,0,0,405,0,0,405,405,405,...,405,405,405,405,405,405,405,405,405,405
5,0,32,0,1,0,531,0,58,58,58,...,58,58,58,58,54,58,58,58,58,531
6,0,0,0,0,0,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
8,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
9,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
10,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
11,0,965,0,0,405,54,1,33239,33239,33239,...,33239,33239,33239,33239,33239,33239,33239,33239,33239,33239
12,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
13,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
14,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
15,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40271,40270,33239,40270,40270,40270,40270,40271
16,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
17,0,965,0,0,405,54,1,33239,33239,33239,...,33239,33239,33239,33239,33239,33239,33239,33239,33239,33239
18,0,3206,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,69752,40270,40270,40270,69752
19,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
20,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270
21,0,1209,0,0,405,58,1,40270,40270,40270,...,40270,40270,40270,40270,33239,40270,40270,40270,40270,40270

从数据结果来看，缺失值这里确实同增同减相互关联

In [8]:
df_miss_train = pd.DataFrame(df_train[df_miss_columns].isnull().sum()/8000)
df_miss_test = pd.DataFrame(df_test[df_miss_columns].isnull().sum()/2000)   #计算百分比，所以少两位数
df_miss_merge = pd.merge(df_miss_train,df_miss_test,left_index = True, right_index=True,how = "outer")
df_miss_merge

                         0_x     0_y
employmentTitle     0.000125  0.0000
employmentLength    5.849875  5.8710
postCode            0.000125  0.0000
dti                 0.029875  0.0305
pubRecBankruptcies  0.050625  0.0580
revolUtil           0.066375  0.0635
title               0.000125  0.0000
n0                  5.033750  5.0555
n1                  5.033750  5.0555
n2                  5.033750  5.0555
n3                  5.033750  5.0555
n4                  4.154875  4.1970
n5                  5.033750  5.0555
n6                  5.033750  5.0555
n7                  5.033750  5.0555
n8                  5.033875  5.0555
n9                  5.033750  5.0555
n10                 4.154875  4.1970
n11                 8.719000  8.7875
n12                 5.033750  5.0555
n13                 5.033750  5.0555
n14                 5.033750  5.0555

从数据结果来看，缺失值的分布在测试集与训练集是一致的，因此可以初步做出假设“是具有某种明显规律的常态化缺失（比如特地某类特定用户的某项特征无法获取）” ；我们将缺失值初步填充为一个独立的点，此处设定为"-9999"。（填充原因：1.为了让模型可以更好的表达缺失即正样本这一对应关系；2.相比于均值等填充方式，该方式大概率不会引入噪音；）

此处确定了缺失值的填充策略，但为了不影响后续的数据处理，此处先不进行填充

对于异常值，一般在模型结果出来之后结果模型结果与业务经验对其进行修正更客观些，此处暂不做特殊处理;

## 数据格式转化

1.将非数值型数据转化为模型可以识别的数据类型；

2.将分类变量转化为哑变量或onehot形式；

3.将连续型变量进行分箱操作，提高模型的稳定性（通常需根据结果反馈与业务理解进行多次尝试迭代）；

In [9]:
#将在数据探索阶段发现的特殊字段进行格式转化
# grade 
# subGrade 
# employmentLength 
# issueDate
# earliesCreditLine

先观察下字段具体取值

In [10]:
df_train.groupby(["grade"]).count().head(2)

,id,loanAmnt,term,interestRate,installment,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
grade,,,,,,,,,,,,,,,,,,,,,
A,139661,139661,139661,139661,139661,139661,139661,132093,139661,139661,...,129741,129741,129741,129741,129741,131026,127045,129741,129741,129741
B,233690,233690,233690,233690,233690,233690,233690,220152,233690,233690,...,220855,220855,220855,220855,220855,223298,212757,220855,220855,220855

In [11]:
df_train.groupby(["subGrade"]).count().head(2)

,id,loanAmnt,term,interestRate,installment,grade,employmentTitle,employmentLength,homeOwnership,annualIncome,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
subGrade,,,,,,,,,,,,,,,,,,,,,
A1,25909,25909,25909,25909,25909,25909,25909,24403,25909,25909,...,24604,24604,24604,24604,24604,24816,24202,24604,24604,24604
A2,22124,22124,22124,22124,22124,22124,22124,20925,22124,22124,...,20586,20586,20586,20586,20586,20776,20178,20586,20586,20586

In [12]:
df_train.groupby(["earliesCreditLine"]).count().head(2)

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
earliesCreditLine,,,,,,,,,,,,,,,,,,,,,
Apr-1955,2,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2
Apr-1958,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [13]:
df_train.groupby(["issueDate"]).count().head(2)

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
issueDate,,,,,,,,,,,,,,,,,,,,,
2007-06-01,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2007-07-01,21,21,21,21,21,21,21,21,21,21,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_train.groupby(["earliesCreditLine"]).count().head(2)

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
earliesCreditLine,,,,,,,,,,,,,,,,,,,,,
Apr-1955,2,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2
Apr-1958,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

有明显等级特征的特征，我们将其初步转化为递增序列

In [15]:
#生成特征映射表
grade_dict = features_dict(df_train,"grade")
subGrade_dict = features_dict(df_train,"subGrade")

#进行特征转化
df_train["grade"] = df_train.apply(lambda x : features_trans(x["grade"],grade_dict),axis = 1 )
df_train["subGrade"] = df_train.apply(lambda x : features_trans(x["subGrade"],subGrade_dict),axis = 1 )

对于时间类特征，我们选择一个基准值，然后用特征当前时间减去基准值得到的数据作为喂入模型的特征

In [16]:
#将字符串格式转化为时间格式
df_train['earliesCreditLine'] = pd.to_datetime(df_train['earliesCreditLine'])
df_train['issueDate'] = pd.to_datetime(df_train['issueDate'])

#以1900作为基数进行计算
df_train["earliesCreditLine"] = df_train["earliesCreditLine"].apply(lambda x : int(re.search(("\d+"),str(x-datetime.datetime(1900,1,1))).group(0)))
df_train["issueDate"] = df_train["issueDate"].apply(lambda x : int(re.search(("\d+"),str(x-datetime.datetime(1900,1,1))).group(0)))

此处要对employmentLength字段使用正则提取年份数据

In [17]:
df_train["employmentLength"] = df_train["employmentLength"].fillna("-9999")  #为了正则的顺利使用，此处按照缺失值的填充策先行进行字符串填充
df_train["employmentLength"] = df_train["employmentLength"].apply(lambda x : re.search("(.*?) ",str(x)).group(0) if x != "-9999" else x)
df_train["employmentLength"] = df_train["employmentLength"].apply(lambda x : 10 if x=="10+ " else 0.5 if x=="< " else x)
df_train["employmentLength"] = df_train["employmentLength"].astype(float)

缺失值填充

In [18]:
df_train = df_train.fillna(-9999)

In [19]:
#特征字段格式检查
for each in df_train.columns:
    if str(df_train[each].dtypes)!= "float64" and str(df_train[each].dtypes)!= "int64":
        print(each,str(df_train[each].dtypes))

异常值剔除/特征筛选将在模型训练之后进行探索剔除；

## 特征衍生

在模型训练之前，我们可以衍生一批具有信息量与区分度的特征集合，以便模型在训练时更大的提升空间。此处我们要进行的具体工作内容为：

1.基于业务意义的经验衍生（收入信息，贷款信息，行为特征信息）

    收入相关：
    
        累计总收入
        
        年均收入
        
    贷款相关：
    
        可用信用额度（总体）
        
        fico均值
        
    行为特征相关：
    
        贬损公共记录未清除数量；
        
        所在地区贷款人数；
        
        
2.基于统计的特征衍生：


    1.对n系列特征的总和，均值，最大值，最小值；
    
    2.对n系列特征的多列求和；
    
    3.n系列特征分位数； 
3.交叉衍生：

    基于幂运算生成各类多项式特征

In [20]:
#累计总收入
df_train["total_Income"] = df_train['annualIncome'] * df_train['employmentLength']
#年均收入
df_train["avg_Income"] = df_train['annualIncome'] / df_train['employmentLength']

#可用信用额度（总体）
df_train["avg_Income"] = df_train['openAcc'] + df_train['totalAcc']
#fico均值
df_train["avg_Income"] = df_train['ficoRangeLow'] + df_train['ficoRangeHigh']
#贬损公共记录未清除数量
df_train["avg_Income"] = df_train['pubRec'] - df_train['pubRecBankruptcies']

#所在地区贷款人数，所在地区贷款逾期人数；
df_region_count = df_train.groupby("regionCode").count().reset_index(drop=False)[["regionCode","isDefault"]].copy()
df_region_count.rename(columns = {"isDefault":"region_count"},inplace = True)

df_train = pd.merge(df_train,df_region_count,on='regionCode',how = "left")

In [21]:
#构建n系列列名列表
n_columns = []
for i in range(0,15):
    mid = "n" + str(i)
    n_columns.append(mid)
    
n_columns_all = n_columns.copy()
n_columns = n_columns[0:5]
#此处因算力限制，将变量拆分为两部分，一部分用来支持统计衍生，一部分用来支持交叉衍生；

In [22]:
def Q_25(x):
    return x.quantile(0.25)
def Q_5(x):
    return x.quantile(0.5)
def Q_75(x):
    return x.quantile(0.75)

In [23]:
#理论生成特征，因本地算力不够，只生成部分特征
for each in n_columns:
    print(each)
    df_mid = df_train[df_train[each]>-9998.0].copy()
    
    
    df_mid_group = df_mid.groupby(each,as_index=False)
    #n系列总和 均值 最大值 最小值 特征分位数
    for each2 in n_columns:
        df_mid_group_mix = df_mid_group[each2].agg({each+"_"+each2+"sum":"sum",each+"_"+each2+"mean":"mean",each+"_"+each2+"max":"max",each+"_"+each2+"min":"min",each+"_"+each2+"_0.25":Q_25,each+"_"+each2+"_0.5":Q_5,each+"_"+each2+"_0.75":Q_75})
        df_train = pd.merge(df_train,df_mid_group_mix,on = each ,how = "left")

#n系列多列总和
df_train = df_train.fillna(-9999)
df_train["n_sum"] = df_train[n_columns].sum(axis=1)

n0
n1
n2
n3
n4

In [24]:
#特征交叉衍生
poly = PolynomialFeatures(degree = 2)
#n系列特征进行多项式衍生
n_der = poly.fit_transform(df_train[n_columns_all])
#衍生数据生成列名
n_der_list = []
for i in range(n_der.shape[1]):
    n_der_mid = "n_der" + str(i)
    n_der_list.append(n_der_mid)
#衍生数据转化为dataframe
df_nder = pd.DataFrame(n_der,columns =n_der_list)
#将生成的列进行拼接合并
df_train = pd.concat([df_train, df_nder],axis=1)

## 特征筛选（预筛选）
基于当前的场景，我们计划使用树模型进行拟合探索，因此该步骤不是必需的步骤，我们可以尝试筛选一些无关变量来减少模型拟合时需要的算力；

In [25]:
#输出与因变量相关性过小的变量，结合业务经验决定去留
correlations = {}
for column in df_train.columns:
    if column != 'isDefault':
        correlation = df_train['isDefault'].corr(df_train[column])
        correlations[column] = correlation
        if abs(correlation)<0.1:
            print(column,correlation)

id -0.00035108389556033815
loanAmnt 0.06520961446281194
installment 0.05152448921221731
employmentTitle -0.030713888627784937
employmentLength -0.043232223194446945
homeOwnership 0.054598508104062256
annualIncome -0.042781865795232334
verificationStatus 0.08855737298108016
issueDate 0.052608912448656786
purpose -0.029207991974974427
postCode 0.007159766493895019
regionCode 0.0028216628809681374
dti 0.005402089239408909
delinquency_2years 0.02018474580199533
openAcc 0.02686739585312533
pubRec 0.026558219557224677
pubRecBankruptcies 0.0014067340599461721
revolBal -0.0209292160232915
revolUtil 0.004385506506547465
totalAcc -0.012756345461615116
initialListStatus -0.007382891589644735
applicationType 0.01819678183768979
earliesCreditLine 0.04302773670655016
title -0.025171958738577704
n0 0.028866774847268916
n1 0.02890025609306087
n2 0.028961752791664973
n3 0.028961752791664973
n4 0.02913490437499252
n5 0.028821275447690656
n6 0.028877517262590486
n7 0.0289240312223283
n8 0.028841655083144867
n9 0.028957168038345367
n10 0.02918372976027969
n11 -0.0019247962648583233
n12 0.02886049413059708
n13 0.02886264919982254
n14 0.02892939409336742
total_Income -0.025093442095120665
avg_Income -0.0013351487603757847
region_count 0.0037755861504476977
n0_n0sum 0.02661825060328003
n0_n0mean 0.028866774847268916
n0_n0max 0.028866774847268916
n0_n0min 0.028866774847268916
n0_n0_0.25 0.028866774847268916
n0_n0_0.5 0.028866774847268916
n0_n0_0.75 0.028866774847268916
n0_n1sum -0.0064907012742048175
n0_n1mean 0.028859273933264457
n0_n1max 0.028827387511442943
n0_n1min 0.028860420993206053
n0_n1_0.25 0.02886040729459565
n0_n1_0.5 0.02886041483457355
n0_n1_0.75 0.028859093462371845
n0_n2sum -0.006396018029261441
n0_n2mean 0.028859799249201776
n0_n2max 0.028773588005404995
n0_n2min 0.028860457826812524
n0_n2_0.25 0.028860416365109352
n0_n2_0.5 0.028860409294651713
n0_n2_0.75 0.0288604072132457
n0_n3sum -0.006396018029261441
n0_n3mean 0.028859799249201776
n0_n3max 0.028773588005404995
n0_n3min 0.028860457826812524
n0_n3_0.25 0.028860416365109352
n0_n3_0.5 0.028860409294651713
n0_n3_0.75 0.0288604072132457
n0_n4sum -0.006576006003730655
n0_n4mean 0.028858386586654912
n0_n4max 0.028835151898559924
n0_n4min 0.028860420393016496
n0_n4_0.25 0.028859118870393163
n0_n4_0.5 0.028860412103349425
n0_n4_0.75 0.028859064969244876
n1_n0sum -0.016937401140979514
n1_n0mean 0.02885909436538042
n1_n0max 0.02882011560034449
n1_n0min 0.028860405111890215
n1_n0_0.25 0.028860405111890215
n1_n0_0.5 0.028860405111890215
n1_n0_0.75 0.028854808257580376
n1_n1sum 0.007704984771482204
n1_n1mean 0.02890025609306087
n1_n1max 0.02890025609306087
n1_n1min 0.02890025609306087
n1_n1_0.25 0.02890025609306087
n1_n1_0.5 0.02890025609306087
n1_n1_0.75 0.02890025609306087
n1_n2sum 0.001476228369095466
n1_n2mean 0.028908222857090275
n1_n2max 0.028939331802574627
n1_n2min 0.02889430804382537
n1_n2_0.25 0.02890844554487388
n1_n2_0.5 0.028909831202669763
n1_n2_0.75 0.028910763221191474
n1_n3sum 0.001476228369095466
n1_n3mean 0.028908222857090275
n1_n3max 0.028939331802574627
n1_n3min 0.02889430804382537
n1_n3_0.25 0.02890844554487388
n1_n3_0.5 0.028909831202669763
n1_n3_0.75 0.028910763221191474
n1_n4sum 0.0033810191938874684
n1_n4mean 0.028904054482202658
n1_n4max 0.028892749018786603
n1_n4min 0.028886809412907628
n1_n4_0.25 0.028900277704648647
n1_n4_0.5 0.028907729132926795
n1_n4_0.75 0.028909194130731675
n2_n0sum -0.026488624163044858
n2_n0mean 0.028859234614003137
n2_n0max 0.02880404858867454
n2_n0min 0.028860405111890215
n2_n0_0.25 0.028860405111890215
n2_n0_0.5 0.02886040596412713
n2_n0_0.75 0.02885886928125339
n2_n1sum 0.005139842662557316
n2_n1mean 0.028916329010707145
n2_n1max 0.028946556651317068
n2_n1min 0.028864067602706777
n2_n1_0.25 0.0289030918827067
n2_n1_0.5 0.02891587186325159
n2_n1_0.75 0.028926199995045282
n2_n2sum 0.0111123615712445
n2_n2mean 0.028961752791664973
n2_n2max 0.028961752791664973
n2_n2min 0.028961752791664973
n2_n2_0.25 0.028961752791664973
n2_n2_0.5 0.028961752791664973
n2_n2_0.75 0.028961752791664973
n2_n3sum 0.0111123615712445
n2_n3mean 0.028961752791664973
n2_n3max 0.028961752791664973
n2_n3min 0.028961752791664973
n2_n3_0.25 0.028961752791664973
n2_n3_0.5 0.028961752791664973
n2_n3_0.75 0.028961752791664973
n2_n4sum -0.0022352724997672115
n2_n4mean 0.028920521018499925
n2_n4max 0.02899818853473509
n2_n4min 0.02886536550259366
n2_n4_0.25 0.028905149397531225
n2_n4_0.5 0.02891899763433613
n2_n4_0.75 0.028930763694167333
n3_n0sum -0.026488624163044858
n3_n0mean 0.028859234614003137
n3_n0max 0.02880404858867454
n3_n0min 0.028860405111890215
n3_n0_0.25 0.028860405111890215
n3_n0_0.5 0.02886040596412713
n3_n0_0.75 0.02885886928125339
n3_n1sum 0.005139842662557316
n3_n1mean 0.028916329010707145
n3_n1max 0.028946556651317068
n3_n1min 0.028864067602706777
n3_n1_0.25 0.0289030918827067
n3_n1_0.5 0.02891587186325159
n3_n1_0.75 0.028926199995045282
n3_n2sum 0.0111123615712445
n3_n2mean 0.028961752791664973
n3_n2max 0.028961752791664973
n3_n2min 0.028961752791664973
n3_n2_0.25 0.028961752791664973
n3_n2_0.5 0.028961752791664973
n3_n2_0.75 0.028961752791664973
n3_n3sum 0.0111123615712445
n3_n3mean 0.028961752791664973
n3_n3max 0.028961752791664973
n3_n3min 0.028961752791664973
n3_n3_0.25 0.028961752791664973
n3_n3_0.5 0.028961752791664973
n3_n3_0.75 0.028961752791664973
n3_n4sum -0.0022352724997672115
n3_n4mean 0.028920521018499925
n3_n4max 0.02899818853473509
n3_n4min 0.02886536550259366
n3_n4_0.25 0.028905149397531225
n3_n4_0.5 0.02891899763433613
n3_n4_0.75 0.028930763694167333
n4_n0sum 0.000824771255532564
n4_n0mean 0.02914635410357453
n4_n0max 0.029089008094520464
n4_n0min 0.0020115825392670933
n4_n0_0.25 0.02911621665425104
n4_n0_0.5 0.029116216179421596
n4_n0_0.75 0.029114207861849626
n4_n1sum 0.001012295983513901
n4_n1mean 0.029158448603614627
n4_n1max 0.029132442075668178
n4_n1min 0.0020115305399092567
n4_n1_0.25 0.0291238649774141
n4_n1_0.5 0.029127590900190445
n4_n1_0.75 0.02913109044133574
n4_n2sum 0.0010332350983120325
n4_n2mean 0.029161039857062764
n4_n2max 0.02914523768233697
n4_n2min 0.0020115641082608642
n4_n2_0.25 0.029126869763095434
n4_n2_0.5 0.0291302357385056
n4_n2_0.75 0.029134689705588003
n4_n3sum 0.0010332350983120325
n4_n3mean 0.029161039857062764
n4_n3max 0.02914523768233697
n4_n3min 0.0020115641082608642
n4_n3_0.25 0.029126869763095434
n4_n3_0.5 0.0291302357385056
n4_n3_0.75 0.029134689705588003
n4_n4sum 0.0060506722977881995
n4_n4mean 0.02913490437499252
n4_n4max 0.02913490437499252
n4_n4min 0.02913490437499252
n4_n4_0.25 0.02913490437499252
n4_n4_0.5 0.02913490437499252
n4_n4_0.75 0.02913490437499252
n_sum 0.029390507863213802
n_der1 0.028866774847268916
n_der2 0.02890025609306087
n_der3 0.028961752791664973
n_der4 0.028961752791664973
n_der5 0.02913490437499252
n_der6 0.028821275447690656
n_der7 0.028877517262590486
n_der8 0.0289240312223283
n_der9 0.028841655083144867
n_der10 0.028957168038345367
n_der11 0.02918372976027969
n_der12 -0.0019247962648583233
n_der13 0.02886049413059708
n_der14 0.02886264919982254
n_der15 0.02892939409336742
n_der16 -0.028860403066285584
n_der17 -0.02886040084334822
n_der18 -0.028860397111580085
n_der19 -0.028860397111580085
n_der20 -0.029115187029105625
n_der21 -0.02886040270048458
n_der22 -0.028860389866799622
n_der23 -0.02886039644290814
n_der24 -0.028860399121744144
n_der25 -0.02886039716075966
n_der26 -0.029113675204069336
n_der27 -0.028860954697889896
n_der28 -0.02886040510564772
n_der29 -0.02886040447014572
n_der30 -0.02886039951636801
n_der31 -0.028860363423985555
n_der32 -0.028860328297328704
n_der33 -0.028860328297328704
n_der34 -0.029115149418081365
n_der35 -0.02886037335569951
n_der36 -0.02886036932938139
n_der37 -0.028860331737103128
n_der38 -0.02886033438319421
n_der39 -0.0288603311598698
n_der40 -0.029113596158841296
n_der41 -0.028876744984668263
n_der42 -0.028860405097081612
n_der43 -0.028860404143066683
n_der44 -0.028860368348388885
n_der45 -0.028860249482206918
n_der46 -0.028860249482206918
n_der47 -0.029115108130151224
n_der48 -0.02886032832151835
n_der49 -0.028860308765275185
n_der50 -0.028860245028445523
n_der51 -0.02886022469110027
n_der52 -0.028860255295531594
n_der53 -0.029113477185618873
n_der54 -0.028890218834231214
n_der55 -0.028860405070169872
n_der56 -0.028860403355697322
n_der57 -0.028860336813912892
n_der58 -0.028860249482206918

n_der59 -0.029115108130151224
n_der60 -0.02886032832151835
n_der61 -0.028860308765275185
n_der62 -0.028860245028445523
n_der63 -0.02886022469110027
n_der64 -0.028860255295531594
n_der65 -0.029113477185618873
n_der66 -0.028890218834231214
n_der67 -0.028860405070169872
n_der68 -0.028860403355697322
n_der69 -0.028860336813912892
n_der70 -0.02911618949810969
n_der71 -0.029115188145376027
n_der72 -0.029115175680311495
n_der73 -0.029115132420978268
n_der74 -0.02911516193911742
n_der75 -0.029115112149299457
n_der76 -0.029116155459684337
n_der77 -0.029138577519954603
n_der78 -0.029115191769966537
n_der79 -0.029115190540036563
n_der80 -0.029115148567085983
n_der81 -0.02886047409577816
n_der82 -0.0288604359556239
n_der83 -0.02886037922313201
n_der84 -0.028860484220104107
n_der85 -0.02886033219443673
n_der86 -0.02911367692890309
n_der87 -0.028883005815054114
n_der88 -0.028860405081032627
n_der89 -0.02886040382010471
n_der90 -0.028860358114646042
n_der91 -0.02886029200938146
n_der92 -0.028860339650150304
n_der93 -0.028860404243941002
n_der94 -0.028860312334334278
n_der95 -0.029113596690138164
n_der96 -0.028883373958005613
n_der97 -0.02886040499954499
n_der98 -0.0288604012834598
n_der99 -0.0288603295965494
n_der100 -0.02886026833296214
n_der101 -0.02886029894159909
n_der102 -0.028860250781745526
n_der103 -0.029113517135611073
n_der104 -0.028890218836035216
n_der105 -0.02886040505624903
n_der106 -0.028860403093123904
n_der107 -0.0288603268338586
n_der108 -0.028862967439519164
n_der109 -0.028860233040771646
n_der110 -0.029113580344253553
n_der111 -0.02890342701416975
n_der112 -0.028860405026616194
n_der113 -0.028860402488325134
n_der114 -0.028860305778560018
n_der115 -0.028860258930588807
n_der116 -0.02911348511194416
n_der117 -0.02888545326159258
n_der118 -0.02886040507381954
n_der119 -0.028860403459681903
n_der120 -0.02886033892671708
n_der121 -0.029116016906489472
n_der122 -0.02915701423243164
n_der123 -0.029113690298373636
n_der124 -0.029113686795244082
n_der125 -0.029113574654590465
n_der126 0.0019247934162921645
n_der127 -0.028860418881221664
n_der128 -0.0288610650032548
n_der129 -0.028872487460023247
n_der130 -0.028860405101152602
n_der131 -0.028860405106474876
n_der132 -0.02886040507618337
n_der133 -0.02886040446790297
n_der134 -0.028860403947543554
n_der135 -0.028860361536579525

In [26]:
#保存数据
df_train.to_csv(r"C:\Users\17738\贷款违约率预测\数据集\train_clean.csv",index = None)